* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container {    
    display: flex;
    margin: 0;
    padding: 0;
    height: 95%;
    background-color: #f05464;
}
.toolBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 5%;
    margin: auto;
    background: orange;
}
.tool button {
    height: 80%;
    margin-left: 10px;
}
.pad {    
    height: 100%;
    margin: auto;
}

.editorPad {
    display: flex;
    width: 35%;
    background-color: blue;
    /* display:none; */
}
.editor {
    display: flex;
    height: 95%;
    width: 95%;
    background-color: cyan;
    margin: auto;
}
.codeInput {
    height: 95%;
    width: 95%;
    margin: auto;
}
.viewerPad {
    width: 65%;
    background-color: red;
}

.pagesContainer {
    overflow: scroll;
    height: 100%;
    width: 95%;
    margin: auto;
    background-color: green;
}
.page {
    display: flex;
    max-height: 297mm;
    max-width: 210mm;
    min-height: 297mm;
    min-width: 210mm;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pageBorder {
    height: 100%;   
    margin: 12.7mm;
    padding: 5.08mm;
    border: 1px solid black;
}