* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

hr {
	border-top: 2px solid #000;
}

table {
  width: 100%;  
  border: solid thin; 
  border-collapse: collapse; 
}
table caption { 
  padding-bottom: 0.5em; 
}

table th, 
table td { 
  border: solid thin;
  padding: 0.2rem 1rem;
}

table td {
  white-space: nowrap;
}

table th { 
  font-weight: normal; 
}

table td { 
  border-style: solid thin; 
  vertical-align: center; 
}

table th { 
  text-decoration: bold;
  padding: 0.5em; 
  vertical-align: middle; 
  text-align: center; 
}

table tbody td:first-child::after { 
  content: leader(". "); '
}
