.container {
    display: flex;
    margin: 0;
    padding: 0;
    height: 95%;
    /* background-color: #f05464; */
    background-color: rgb(204, 204, 204);
}
.toolBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 5%;
    margin: auto;
    background: #FF9800;
}
.tool button, select {
    height: 80%;
    margin-left: 10px;
}

.pad {    
    height: 100%;
    margin: auto;
}

.viewerPad {
    overflow: scroll;
    flex-grow: 1;
    width: 65%;
    /* background-color: red; */
    background-color: transparent;
}
.editorPad {
    width: 35%;
    background-color: transparent;
    display:none;
}

.modal {
		height: 350px;
		width: 500px;
		background: #eee;
		box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
		top: 0; left: 0; right: 0; bottom: 0; 
    z-index: 10;
		position: fixed;
		margin: auto;
		display: none;
}
.modal header {
		background: blue;
		height: 20%;
		postion: relative;
		top: 0;
		left: 0;
}

.modal footer {
		background: blue;
		height: 20%;
		postion: fixed;
		margin-top: 210px;
		bottom: 0;
		left: 0;
}
